Repository ubunchuu-truong-us/ubunchuu-truong-us.github.io, pull requests merged in 2025-02, with the labels that each got.

#73 style: change hero color
  src/css/custom.css
Labels: source, style

#74 ci(automerge): update automerge behavior to not approve anymore
  .github/CODEOWNERS
  .github/assign.yml
  .github/labeler.yml
  .github/workflows/auto_dependabot.yml
  .github/workflows/automerge.yml
Labels: devops-maintain

#76 ci: update the pull request template
  .github/pull_request_template.md
Labels: devops-maintain

#81 feat: create draft PR instead for content branch
  .github/workflows/contribute.yml
Labels: devops-maintain, autosquash

#82 feat: update node.js to 22 and fech ubunchuu starship.toml
  Dockerfile
Labels: devops-maintain

#83 feat: run CI workflows only on specific paths for Docusaurus
  .github/workflows/pages.yml
Labels: devops-maintain

#80 chore: add community standards
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/content.md
  .github/ISSUE_TEMPLATE/devops-refactor.md
  CODE_OF_CONDUCT.md
  LICENSE
  SECURITY-THANKS.md
  SECURITY.md
Labels: enhancement, devops-maintain

#86 fix(issue-template): fix file format of issue templates
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/content.yaml
  .github/ISSUE_TEMPLATE/devops-refactor.yaml
Labels: bug, devops-maintain, autosquash

#77 [AUTOMATIC] Contribute: content/add-post-15dwt-d6
  docs/15DFWT/6-package-management.md
  docs/15DFWT/static/day6-appimage-linus.png
  docs/15DFWT/static/day6-cover.png
  docs/15DFWT/static/day6-memeuninstall.png
  docs/15DFWT/static/day6-memewindows.png
  docs/15DFWT/static/day6-tar-gz-compare.png
Labels: documentation, content, autosquash

#96 ci(pages): remove earlier bot comments, only keep the latest in PR
  .github/workflows/pages.yml
Labels: devops-maintain
